:root {
    --bs-primary: #00c282;
    --primary-bg: #2b2b2b;
    --secondary-bg: #f4f4f4;
    --text-color: #ffffff;
    --accent-color: #00c282;
    --disabled-color: #cccccc;
    --border-color: #ddd;
}
html, body {
    background-color: var(--primary-bg)!important;
    color: var(--text-color)!important;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100%;
}
header {
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
i{
    pointer-events: none !important;
}
.listaPosts{
    padding-bottom: 120px;
}
.post{
    transition: linear 2s;
}
/*
1. Para questões visuais é necessário ter no mínimo os seguintes requisitos CSS.
Avaliação Final
a. Todos os posts devem vir se adaptando a tela, por exemplo 2 posts devem
vir com espaçamento apropriado entre eles e caso um novo seja adicionado,
adaptar para encaixar este na tela.
b. Cores de fundo e fontes diferentes
c. Quando estiver ocorrendo uma requisição, bloquear os botões e mudá-los de
aparência para mostrar que estão bloqueados, e a tela de posts deve mostrar
uma mensagem de atualizando ou algum ícone de carregamento para
atualizar os posts
d. Faça sua aplicação ser responsiva a diferentes tipos de tela.
2. O uso de bootstrap é OPCIONAL.
*/